<footer>
  <div class = "col-md-12" id = "footer-ja" style = "text-align:center;font-size: 0.8rem;">
    <div>©JAVIEW | Your Playground |
      <a href = "https://www.facebook.com/jaview2015" target = "_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/0c113e96ca.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/resources/Semantic-UI-CSS-master/semantic.min.js"></script>
<script type='text/javascript' src='/resources/js/script.js'></script>
