<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<% include scripts/scripts %>
</head>
<body class = "jv-login">
<title>Knock Knock</title>
<section>
	<a href= "/"><img src= "/resources/images/login-icon.png" style = "height:50px;"></a>
	<p style = "margin-bottom:1rem;">Enter to your JAVIEW</p>
	<div class="fb-login-button" scope="public_profile,email" data-max-rows="1" data-size="large" data-button-type="continue_with"
		onlogin="checkLoginState();" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
</section>
</body>
</html>
